*

!.gitignore
!README.md
!LICENSE
!requirements.txt
!app.py
!/src/**
!.editorconfig
!.gitattributes

!/chroma/
!/data/
!/data/pdf/
!/data/txt/

/chroma/*
/data/*
/data/pdf/*
/data/txt/*

!/chroma/.gitkeep
!/data/.gitkeep
!/data/pdf/.gitkeep
!/data/txt/.gitkeep
