# ----- По умолчанию игнорируем всё
*

!.gitignore
!README.md
!LICENSE
!requirements.txt
!pyproject.toml
!.editorconfig
!.gitattributes

!src/
!src/**
!app.py

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/*.dll
**/*.dylib

.venv/
chroma/
data/
notebooks/
logs/
.env
.DS_Store
Thumbs.db
